#game-room_menu {
  height: 2.5rem;
  width: 99%;
  margin-bottom: 3px;
  color: $icon-color;
  border: 2px solid gray;
  background-color: $color_background;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: 600;
  font-size: 1.7rem;
  .icon {
    color: $icon-color;
    cursor: pointer;
    &:hover {
      color: white;
    }
  }

  #game-on {
    color: green;
  }
}
