#game-room_menu {
  height: 2.5rem;
  width: 100%;
  margin-bottom: 3px;
  color: $icon-color;
  background-color: $color_background;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: 600;
  font-size: 1.7rem;
}
