#clock {
  border: 2px solid gray;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 2.5rem;
  width: 99%;
  font-weight: 600;
  font-size: 1.3rem;
  margin: auto;
  margin-top: 3px;

  #white-time,
  #black-time,
  #resignation_buttom,
  #draw-offer_buttom {
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #white-time {
    background-color: whitesmoke;
    color: black;
  }
  #black-time {
    background-color: black;
    color: whitesmoke;
  }
  #resignation_buttom,
  #draw-offer_buttom {
    background-color: $color_main;
    color: $icon-color;
    cursor: pointer;
    &:hover {
      color: white;
    }
  }
  #draw-offer_buttom {
    font-size: 2rem;
  }
}
