#chat_container {
  height: 13rem;
  width: 100vw;
  max-width: 380px;
  border-radius: 5px;
  background-color: white;
  border: 4px solid $color_main;
  border-bottom: 4px solid $color_main;
  #chat-message-box {
    height: 84%;
    overflow: scroll;
    width: 100%;
    border: 1px solid $color_main;
    .received-message,
    .sent-message {
      width: 60%;
      padding: 0.5rem;
      padding-left: 1.5rem;
      margin-left: 1rem;
      margin-top: 0.5rem;
      margin-bottom: 0.8rem;
      border-radius: 20px;
      color: white;
      font-size: 1.1rem;
      font-family: Arial, Helvetica, sans-serif;
      background-color: $color_main;
      box-shadow: $BoxShadow;
    }
    .received-message {
      margin-left: 3.5rem;
      background-color: lightgray;
      color: black;
      margin-bottom: 2rem;
    }
  }

  #chat_input_form {
    height: 2rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0%;

    #chat-message_input {
      font-family: Arial, Helvetica, sans-serif;
      height: 2rem;
      width: 86%;
      font-size: 1.1rem;
      font-weight: 400;
      padding-left: 5px;
      overflow: auto;
      overflow-wrap: break-word;
      word-break: break-all;
      display: inline;
    }
    button {
      @include DarkButton;
      width: 3.3rem;
      height: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      .sendicon {
        font-size: 1.5rem;
      }
    }
  }
}
