#room-link-pannel {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20rem;
  width: 95%;
  max-width: 22rem;
  color: black;
  background-color: $color_soft_background;
  box-shadow: $BoxShadow;
  border-radius: 3px;
  #message {
    width: 80%;
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.7rem;
  }

  #generated-link-container {
    width: 90%;
    height: 3.5rem;
    border: 1px solid $color_main;
    border-radius: 5px;
    display: flex;
    overflow: hidden;
    #generated-link {
      font-size: 1.1rem;
      height: 100%;
      width: 80%;
      color: blue;
      text-align: center;
      word-break: break-all;
      padding: 5px;
      background-color: white;
    }
    #copy-button {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      border: 1px solid black;
      height: 100%;
      width: 20%;
      margin-top: 0;
      box-shadow: $BoxShadow;
      background-color: $color_soft_background;
      cursor: pointer;
      &:focus {
        .icon,
        p {
          color: blue;
        }
      }

      p {
        font-size: 1rem;
        color: $color_main;
      }
      .icon {
        font-size: 30px;
        color: $color_main;
      }
    }
  }

  button {
    width: 100px;
    height: 40px;
    padding: 0.1rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 2px;
    box-shadow: $BoxShadow;
    font-size: 1.5rem;
    font-weight: 500;
    background-color: $color_main;
    color: blanchedalmond;
    &:hover {
      background-color: white;
    }
  }
}
