//colors
$color_base: #000a1a;
$color_main: #001433;
//$color_su: #0066ff;
$color_background: #001433;
$color_highlight: #0066ff;
$color_soft_background: whitesmoke;
$icon-color: lightgray;

//shadows
$BoxShadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

//mixins
