.App {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow: scroll;
  background-color: $color_soft_background;
}

@import "../components/_shared_/header/header";
@import "../components/home/page/homePage";
@import "../components/game_room/page/gamePage";
@import "../components/_shared_/footer/footer";
