#home-page {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: $color_background;
  h2 {
    font-size: 2rem;
    margin-bottom: 1.8rem;
  }
  p {
    font-size: 1.3rem;
    width: 200px;
    text-align: center;
  }
  button {
    width: 200px;
    height: 40px;
    padding: 0.1rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    border-radius: 2px;
    box-shadow: $BoxShadow;
    font-size: 1.5rem;
    font-weight: 500;
    &:hover {
      background-color: white;
    }
  }
}

@import "../RoomLinkPannel/RoomLinkPannel";
