* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.App {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  overflow: hidden;
  background-color: whitesmoke;
}

#page-header {
  height: 4rem;
  width: 100%;
  background-color: #001433;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#page-header #header-image {
  height: 4rem;
  margin: auto;
}

#room-link-pannel {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 20rem;
  width: 95%;
  max-width: 22rem;
  color: black;
  background-color: whitesmoke;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 3px;
}

#room-link-pannel #message {
  width: 80%;
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.7rem;
}

#room-link-pannel #generated-link-container {
  width: 90%;
  height: 3.5rem;
  border: 1px solid #001433;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

#room-link-pannel #generated-link-container #generated-link {
  font-size: 1.1rem;
  height: 100%;
  width: 80%;
  color: blue;
  text-align: center;
  word-break: break-all;
  padding: 5px;
  background-color: white;
}

#room-link-pannel #generated-link-container #copy-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid black;
  height: 100%;
  width: 20%;
  margin-top: 0;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: whitesmoke;
  cursor: pointer;
}

#room-link-pannel #generated-link-container #copy-button:focus .icon,
#room-link-pannel #generated-link-container #copy-button:focus p {
  color: blue;
}

#room-link-pannel #generated-link-container #copy-button p {
  font-size: 1rem;
  color: #001433;
}

#room-link-pannel #generated-link-container #copy-button .icon {
  font-size: 30px;
  color: #001433;
}

#room-link-pannel button {
  width: 100px;
  height: 40px;
  padding: 0.1rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 2px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 1.5rem;
  font-weight: 500;
  background-color: #001433;
  color: blanchedalmond;
}

#room-link-pannel button:hover {
  background-color: white;
}

#home-page {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  background-color: #001433;
}

#home-page h2 {
  font-size: 2rem;
  margin-bottom: 1.8rem;
}

#home-page p {
  font-size: 1.3rem;
  width: 200px;
  text-align: center;
}

#home-page button {
  width: 200px;
  height: 40px;
  padding: 0.1rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  border-radius: 2px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 1.5rem;
  font-weight: 500;
}

#home-page button:hover {
  background-color: white;
}

#game-room_menu {
  height: 2.5rem;
  width: 99%;
  margin-bottom: 3px;
  color: lightgray;
  border: 2px solid gray;
  background-color: #001433;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-weight: 600;
  font-size: 1.7rem;
}

#game-room_menu .icon {
  color: lightgray;
  cursor: pointer;
}

#game-room_menu .icon:hover {
  color: white;
}

#game-room_menu #game-on {
  color: green;
}

#chat_container {
  height: 30%;
  max-height: 13rem;
  width: 100%;
  max-width: 390px;
  border-radius: 5px;
  background-color: white;
  border: 4px solid #001433;
  border-bottom: 4px solid #001433;
}

#chat_container #chat-message-box {
  height: 84%;
  overflow: scroll;
  width: 100%;
  border: 1px solid #001433;
}

#chat_container #chat-message-box .received-message,
#chat_container #chat-message-box .sent-message,
#chat_container #chat-message-box #draw-offer__message {
  width: 65%;
  padding: 0.5rem;
  padding-left: 1.5rem;
  word-break: break-all;
  margin-left: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.8rem;
  border-radius: 20px;
  color: white;
  font-size: 1.1rem;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #001433;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#chat_container #chat-message-box .received-message {
  margin-left: 3.5rem;
  background-color: lightgray;
  color: black;
  margin-bottom: 2rem;
}

#chat_container #chat-message-box #draw-offer__message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #0066ff;
  margin: auto;
}

#chat_container #chat-message-box #draw-offer__message button {
  height: 1.5rem;
  width: 2rem;
  border-radius: 6px;
  padding: 0.1rem;
  font-weight: 500;
  font-size: 1.2rem;
  color: whitesmoke;
  cursor: pointer;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#chat_container #chat-message-box #draw-offer__message #accept__button {
  background-color: green;
}

#chat_container #chat-message-box #draw-offer__message #reject__button {
  background-color: red;
}

#chat_container #chat_input_form {
  height: 2rem;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0%;
}

#chat_container #chat_input_form #chat-message_input {
  font-family: Arial, Helvetica, sans-serif;
  height: 2rem;
  width: 86%;
  font-size: 1.1rem;
  font-weight: 400;
  padding-left: 5px;
  overflow: auto;
  overflow-wrap: break-word;
  word-break: break-all;
  display: inline;
}

#chat_container #chat_input_form button {
  background-color: #001433;
  color: white;
  border: none;
  border-radius: 2px;
  padding: 0.4rem;
  cursor: pointer;
  width: 3.3rem;
  height: 2.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#chat_container #chat_input_form button .sendicon {
  font-size: 1.5rem;
}

/* On screens that are 992px or more*/
@media screen and (min-width: 840px) {
  #chat_container {
    height: 95%;
    max-height: 100%;
    margin-left: 1rem;
    padding: 0%;
    margin-top: 0.2rem;
  }
  #chat_container #chat-message-box {
    width: 100%;
    height: 93%;
  }
}

#clock {
  border: 2px solid gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2.5rem;
  width: 99%;
  font-weight: 600;
  font-size: 1.3rem;
  margin: auto;
  margin-top: 3px;
}

#clock #white-time,
#clock #black-time,
#clock #resignation_buttom,
#clock #draw-offer_buttom {
  height: 100%;
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#clock #white-time {
  background-color: whitesmoke;
  color: black;
}

#clock #black-time {
  background-color: black;
  color: whitesmoke;
}

#clock #resignation_buttom,
#clock #draw-offer_buttom {
  background-color: #001433;
  color: lightgray;
  cursor: pointer;
}

#clock #resignation_buttom:hover,
#clock #draw-offer_buttom:hover {
  color: white;
}

#clock #draw-offer_buttom {
  font-size: 2rem;
}

#game-result-window {
  position: absolute;
  top: 20%;
  z-index: 10;
  height: 40%;
  width: 95%;
  max-width: 390px;
  margin: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #001433;
  background-color: whitesmoke;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#game-result-window #game-over_title {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

#game-result-window #game-over-reason__message {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

#game-result-window #rematch__button,
#game-result-window #reset__button {
  background-color: #001433;
  color: white;
  border: none;
  border-radius: 2px;
  padding: 0.4rem;
  cursor: pointer;
  width: 6rem;
  margin-top: 0.5rem;
  border-radius: 3px;
}

#game-result-window #rematch__button:hover,
#game-result-window #reset__button:hover {
  background-color: #0066ff;
}

@media screen and (min-width: 840px) {
  #game-result-window {
    top: 25%;
    left: 22%;
    height: 40%;
    width: 25%;
  }
}

#game-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  border: 2px solid white;
  overflow: scroll;
}

@media screen and (min-width: 840px) {
  #game-page {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: hidden;
    background-color: #000a1a;
  }
}

.spinner {
  border: 4px solid lightgray;
  border-left-color: transparent;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#page-footer {
  height: 4rem;
  width: 100%;
  background-color: #001433;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#page-footer #footer-image {
  height: 4rem;
  margin: auto;
}
/*# sourceMappingURL=main.css.map */